body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #141414;
  color: #fff;
}

@font-face {
  font-family: 'Chirp';
  src: url('../images/chirp-regular-web.ttf');
}

* {
  font-family: 'Chirp', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  text-align: center;
}

.post {
  border: 1px solid #2f3336;
  padding: 10px;
  margin-bottom: 10px;
}

.post .username {
  font-weight: bold;
  color: #fff;
}

.post .likes {
  color: #777;
  font-size: 12px;
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.post-form {
  background-color: #141414;
  padding: 10px;
  margin-bottom: 10px;
}

.textarea-style {
  background-color: #141414;
  color: #fff;
  border: none;
  resize: none;
}

.textarea-style:focus {
  outline: none;
}


.btn {
  background-color: #141414;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: #333333;
}

.btn svg {
  margin-right: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .column {
    background-color: #ffffff;
    padding: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 80px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #6e6e6e;
    color: #fff;
    opacity: 70%;
  }
  
  /* Custom ScrollBar */

::-webkit-scrollbar {
  width: 12px;
  background-color: #1C2C45;
}

::-webkit-scrollbar-thumb {
  background-color: #4B7C98;
  border-radius: 10px;
}
  
