body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #141414;
  color: #fff;
}

@font-face {
  font-family: 'Chirp';
  src: url('../images/chirp-regular-web.ttf');
}

* {
  font-family: 'Chirp', 'sans-serif';
}

/*GARDEN COLUMN STYLING*/

#midCol {
  overflow-y: auto;
  height: calc(100vh);
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

#midCol::-webkit-scrollbar {
  width: 0;
}

#midCol::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

#midCol::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  text-align: center;
}

.post {
  border-top: 1px solid #2f3336;
  border-bottom: 1px solid #2f3336;
  padding: 20px;
}

.post .username {
  font-weight: bolder;
  color: #fff;
}

.post .likes {
  color: #777;
  font-size: 12px;
  color: #fff;
}

.post .created-at {
  color: #6e6e6e;
  font-weight: lighter;
  font-size: small;
}

.navbar-nav .nav-link {
  color: #fff;
}

.post-form {
  background-color: #141414;
  padding: 10px;
  margin-bottom: 10px;
}

.textarea-style {
  background-color: #141414;
  color: #fff;
  border: none;
  resize: none;
}

.textarea-style:focus {
  outline: none;
}


.btn {
  background-color: #141414;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: #333333;
}

.btn svg {
  margin-right: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .column {
    background-color: #ffffff;
    padding: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 80px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #6e6e6e;
    color: #fff;
    opacity: 70%;
  }
  
/* Custom ScrollBar */

::-webkit-scrollbar {
  width: 12px;
  background-color: #1C2C45;
}

::-webkit-scrollbar-thumb {
  background-color: #4B7C98;
  border-radius: 10px;
}


#greetings {
display: flex;
justify-content: center;
}

/* POST INPUT FIELD */
#textInput {
  background-color: #000000;
color: #ffffff;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.username,
.post div {
  margin-left: 40px;
}

/* TYPEWRITE FX */
.typewriter {
  font-size:1.25rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(32, 11, 116); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #395E7A; }
}


/* PROFILE PIC */
.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;

}

.username,
.post div {
  margin-left: 40px;
}

/* FILTER CONTAINER */
.filter-container {

float: right;
transform: translateX(-20px) translateY(-45px);
}

#filter-select {
  background-color: #000000;
  padding: 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.post {
  position: relative;
}

.created-at {
  position: absolute;
  top: 23px;
  right: 20px;
  font-size: 0.8em;
  color: gray;
}

.like-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  margin-right: 8px;
}

.delete-button {
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 0.8em;
  color: gray;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  margin-right: 8px;
}
