/* Global CSS for all pages */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
    font-family: 'Overpass Mono', monospace;
}

/* THIS IS THE STYLE */
.loginContainer {
  border-radius: 20px;
/* filter: drop-shadow(0 0 0.75rem crimson); */
}



.nav-link {
  color:#ccc;
}

body {
  color: #ccc;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(55,50,62,1) 82%);
  font-family: 'Overpass Mono', monospace;
  }

:root {
    font-size: 1rem;
}
/* NAVBAR */

/*ALERTS*/
.alert-custom {
    /* Add your custom styles here */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .alert-success-custom {
    /* Custom styles for success alerts */
    background-color: #dff0d8;
    color: #3c763d;
  }

  .alert-danger-custom {
    /* Custom styles for danger alerts */
    background-color: #f2dede;
    color: #a94442;
  }

  .alert-warning-custom {
    /* Custom styles for warning alerts */
    background-color: #fcf8e3;
    color: #8a6d3b;
  }

  .alert-info-custom {
    /* Custom styles for info alerts */
    background-color: #d9edf7;
    color: #31708f;
  }