@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Overpass Mono';
    src: url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
}

* {
    box-sizing: border-box;
    font-family: 'Overpass Mono', 'sans-serif';
    color: #e4e4e4;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #000000, #ffffff);
}

body {
    overflow-x: hidden;
  }
  .container {
    width: 800px;
  }

  @keyframes float {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

#anemone {
    position: relative;
    font-size: 100px;
    margin-top: 75px;
    margin-left: 570px;
    animation: float 240s ease 0s infinite normal forwards;
}

#discuss {
    position: relative;
    font-size: 40px;
    z-index: 1;
    margin-top: 360px;
    left: -200px;
    letter-spacing: -3px;
}

#talk {
    position: relative;
    left: -220px;
    z-index: 1;
    margin-bottom: 20px;
    margin-left: 20px;
    letter-spacing: -2px;
    color: #c9c9c9;
}

#ocean {
    position: relative;
    top: 500px;
    left: 300px;
    color: #c9c9c9;
}

#world {
    position: relative;
    top: 1200px;
    left: -200px;
    color: #c9c9c9;
}

#so {
    position: relative;
    top: 1900px;
    left: 800px;
    color: #c9c9c9;
}

#what {
    position: relative;
    top: 3000px;
    left: -200px;
    color: #c9c9c9;
}

#swim {
    position: relative;
    top: 5000px;
    left: 300px;
    color: #c9c9c9;
    font-size: 50px;
}

body {
    padding-top: 56px;
}

.navbar {
    margin-left: 100px;
}

h6 {    
    margin-top: 5350px;
    opacity: 0%
}

.hidden-audio {
    display: none;
  }

.navbar-brand {
    animation: float 60s ease 0s infinite alternate-reverse both;
  }

  #video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -100;
    opacity: 0.3;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  .animated {
    -webkit-animation-duration: 10s;animation-duration: 10s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeOut {
    0% {opacity: 0.5;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 0.5;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }