@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Overpass Mono';
    src: url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
}

* {
    box-sizing: border-box;
    font-family: 'Overpass Mono', 'sans-serif';
    color: #e4e4e4;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #000000, #ffffff);
}

body {
    overflow-x: hidden;
  }
  .container {
    width: 800px;
  }

#anemone {
    position: relative;
    font-size: 100px;
    margin-top: 75px;
    margin-left: 570px;
}

#discuss {
    position: relative;
    font-size: 40px;
    z-index: 1;
    margin-top: 360px;
    left: -200px;
    letter-spacing: -3px;
}

#talk {
    position: relative;
    left: -220px;
    z-index: 1;
    margin-bottom: 20px;
    margin-left: 20px;
    letter-spacing: -2px;
    color: #c9c9c9;
}

#ocean {
    position: relative;
    top: 500px;
    left: 300px;
    color: #c9c9c9;
}

#world {
    position: relative;
    top: 1200px;
    left: -200px;
    color: #c9c9c9;
}

#so {
    position: relative;
    top: 1900px;
    left: 800px;
    color: #c9c9c9;
}

#what {
    position: relative;
    top: 3000px;
    left: -200px;
    color: #c9c9c9;
}

#swim {
    position: relative;
    top: 5000px;
    left: 300px;
    color: #c9c9c9;
    font-size: 50px;
}

body {
    padding-top: 56px;
}

.navbar {
    margin-left: 100px;
}