/* Landing Page CSS */
body {
  color: #ccc;
  background: #070e17;
  font-family: 'Chivo Mono', monospace;
  }

.loginContainer {
    border-radius: 20px;
    background: radial-gradient(circle, hsla(213, 39%, 22%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    filter: drop-shadow(0 0 1rem black);
}

.loginColumn {
    padding: 10%;
    background-color: (90deg, rgba(0,0,0,1) 0%, rgba(55,50,62,1) 82%);
}
video {
  width: 50rem;
  height: 1rem;
}

#introDisplay {
    border-radius: 20px 0 0 20px;
    /* background-image: url("https://images.pexels.com/photos/3684415/pexels-photo-3684415.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
    background-image: url("/images/jellyfishlogin.gif");
    height: auto; 
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
}

p {
    text-align: justify;
    
    font-size: 1.25rem;
}

.animate__animated.animate__slideInLeft {
    --animate-duration: 2s;
  }

  /* TYPEWRITE FX */

  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(32, 11, 116); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #395E7A; }
  }